@font-face{
	font-family:"ev";
	font-weight:normal;
    font-style:normal;	

}

.blanca,.negra{
	position: relative;
	width: 85px;
	height: 85px;
	display: inline-block;

}

#top{
	text-align: center;
	background-color: #f4511e;
	color: #fff;
	padding: 100px 25px;
	font-family: Montserrat, sans-serif;
}
.header h1{
	font-size: 700%;
}

#submitButton, #undoButton, #deal{
	visibility: hidden;
}
#lowerButton1, #lowerButton2, #lowerButton3{
	visibility: hidden;
}
.toplayer{
	z-index: 0;
}
.overlay1, .overlay2, .overlay3, .overlay4, .overlay5, .overlay6, .overlay7, .overlay8{
	z-index: 3;
	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: none;
}


.overlayRotate{
	z-index: 10;
	position: absolute;
	width: 4em;
	height: 4em;
	margin-left:1em; 
	margin-top:1em;
	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: none;
}
.blanca{
	background-image: url("purpleSquare.png");

}
.negra{
  	background-image: url("purpleSquare.png");
}
#tablero{
	margin-left: 30em;
	padding: 0;
	z-index: 0;
	width: auto;
	-webkit-user-select:none;
	-moz-user-select:none
}

#grid{
	text-align: center;
	padding: 20px;
	font-family: Montserrat, sans-serif;

}

.ficha{
	position: absolute;
	width: 85px;
	height: 85px;


	z-index: 100;
    cursor:pointer;

    
}

.tile{
	cursor:pointer;
	width:85px;
	height:85px;
	margin-left:15px; 
}
#matadas{
	position: relative;
	width: 20em;
	max-width: 20em;
	height: 20em;
	border: 1px solid black;
	box-shadow: 2px 2px 4px #000;
}
#info{
	position: relative;
	width: 20em;
	max-width: 20em;
	height: 20em;
	border: 1px solid black;
	background:-moz-linear-gradient(#525050,#111);
	background:-webkit-linear-gradient(#525050,#111);
	text-align: center;
	box-shadow: 2px 2px 4px #000;
	font-family: ev;

}
#info span{
font-size: 3em;
}
#info img{
	margin-top:1.4em;
}
#tablero,#matadas,#info{
	display: inline-block;
	vertical-align: top;
}
#matadas img{
	
	width: 2.5em;
	height: 3.5em;
}
#coronadaB,#coronadaN{
	position: absolute;
	left:10em;
	top: 0;
	width: 16em;
	height: 5em;
	box-shadow: 2px 2px 5px #000;
	background: #333;
	display: none;
	z-index: 2000;
	border: 3px solid #000;

}
#coronadaN{
	top:32.5em;
	background: #DDD;
}

#coronadaB img,#coronadaN img{
	position: relative;
	display: inline;
	margin-left: 1em;
	margin-top: .5em;
	cursor: pointer;
}

#coronadaB .torre,#coronadaN .torre{
	position: absolute;
	left: 1em;
}
#coronadaB .caballo,#coronadaN .caballo{
	position: absolute;
	left: 4em;
}
#coronadaB .alfil,#coronadaN .alfil{
	position: absolute;
	left: 7em;
}
#coronadaB .reina,#coronadaN .reina{
	position: absolute;
	left: 10em;
}



#coronadaB img:hover,#coronadaN img:hover{
	opacity: 0.7;

}

#turnos{

	position: absolute;
	width: 30.5em;
	height:6em;
	background:#222; 
	top: 29em;
	left: 2em;

}
#chatbar{
	top: 27em;
	left:70em;

	position: absolute;
	align: right;
	background:#D3D3D3;
	width: 20em;



}
.chatOutput{
	overflow-y: scroll;
	height:10em;
}

#turnos p {
	margin-left: 1em;
	margin-top: .5em;
	color: #000000;
	font-family: ev;
	font-size: 1 em;

}

@media screen and (max-width:625px){
	
	 #tablero{
	 		margin-left: 5%;
	 		width: 100%;
	 		height: 90%;
	 }
	.blanca,.negra{
		position: relative;
		width: 8%;
		height: 8%;

	}
	#info,#matadas{
		margin-left: 5%;
		margin-top: -8%;
	}
	.ficha{
		position: relative;
		width: 70%;
		height: 80%;
		padding: 0;
	   	margin: .3em;
	}
	#turnos{
		display: none;
	}

}

@media screen and (max-width:445px){
 #tablero{
 		margin-left: 5%;
 		width: 100%;
 		height: 70%;
 		 }

 #info,#matadas{
 	display: block;
 }


}

@media screen and (max-width:270px){
	 #tablero{
 		margin-left: 0;
 		width: 100%;
 		height: 70%;
 }
 	#info,#matadas{
		margin-left:0;
		width: 95%;
		height:40%;
		}

	#info img{
	width: 100%;
	height: 100%
	}


}